{% extends 'base.html' %}


{% block title %} index{% endblock title %}
{% block body %}
<h1>hhhh</h1>
{% for x in form %}
{{x.Order.city}}
{{x.id}}
{{x.first_name}}
{{x.address}}
{{x.last_name}}
{{x.order.city}}
{{x.User.first_name}}

{% endfor %}
<form method="post" class="col s12">
    {% csrf_token %}
    {{form}}
    {{Orders.address}}
    <!-- {{form.username}}
    {{form.password1}}
    {{form.password2}} -->
    
    <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
    </div>
    <div class="mb-3">
        <label for="username">Username</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" name="user" id="username" value="{{user.first_name}}" placeholder="Username" required="">
            <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
        </div>
    </div> -->
    <button class="btn btn-primary btn-lg btn-block"  type="submit">Continue to checkout</button>    
</form>

 {% endblock body %}
 {% block footer %}{% endblock footer %}	
