{% extends 'base.html' %}
{% load static %}


{% block title %} index{% endblock title %}

<style>
          section-products #product-2 .part-1::before {
    background: url("{{Products.photo.url}}") no-repeat center;
    background-size: cover;
}
</style>
{% block body %}
<section class="section-products">
    
    <div class="container">
            <div class="row justify-content-center text-center">
                    <div class="col-md-8 col-lg-6">
                            <div class="header">
                                    <h3>Featured Product</h3>
                                    <h2>Popular Products</h2>
                            </div>
                    </div>
            </div>

            <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
       -->

       Category

       
     
       
       Products
     
     
       {% for m in products %}
       {{m.name}}
       {{m.description}}
     
     
     
       {% endfor %}






       category
       
     
      <!-- // -->{{Products.category}}
            <div class="dropdown">
                <button class="btn btn-white border border-dark  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                {% for p in Category_set.all %}
               
              111  {{p.category}}
                Category
                
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/?productss={{p.id}}"> {{p.category}}
                        <a href="{% url 'products' %}">dddd</a>
                        
                        {{category}}
                  </a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
                {% endfor %}
              </div>
<!-- ///// -->
<br>


            <div class="row">
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                

                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">$79.99</h4>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">$79.99</h4>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-1" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">$79.99</h4>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                  
                  
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-2" class="single-product">
                                    <div class="part-1">
                                            <span class="discount">15% off</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-3" class="single-product">
                                    <div class="part-1">
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-old-price">$79.99</h4>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
                    <!-- Single Product -->
                    <div class="col-md-6 col-lg-4 col-xl-3">
                            <div id="product-4" class="single-product">
                                    <div class="part-1">
                                            <span class="new">new</span>
                                            <ul>
                                                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                                            </ul>
                                    </div>
                                    <div class="part-2">
                                            <h3 class="product-title">Here Product Title</h3>
                                            <h4 class="product-price">$49.99</h4>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</section>
<button
type="button"
class="btn btn-danger btn-floating btn-lg"
id="btn-back-to-top"
>
<i class="fas fa-arrow-up"></i>
</button>




<section class="section-products">
 <!-- Single Product -->
 <div class="col-md-6 col-lg-4 col-xl-3">
        {% for n in Products1 %}
        <div id="product-2" class="single-product">
                <div class="part-1"> 
                        <!-- <img src="{{n.photo.url}}" alt=""> -->
                        <span class="discount">15% off</span>
                        <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>

                                <li><a href="/like/{{n.id}}"><i class="fas fa-heart">
                                        {{n.like.count}}
                                </i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                        </ul>
                </div>
                <div class="part-2">
                        <h3 class="product-title">{{n.HereProductTitle}}</h3>
                        <h4 class="product-price">${{n.price}}</h4>
                        <h4 class="product-price">${{n.price_discount}}</h4>
                </div>
        </div>
        <img src="{{n.photo.url}}" alt="" style="height: 500px; width: 500px;">
        {{n.category}}

        {% endfor %}
        
      
        
        
</div>
<!-- Single Product -->
</section>


<!-- <div class="col-md-6 col-lg-4 col-xl-3">
        <div id="product-3" class="single-product">
                <div class="part-1">
                        <ul>
                                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                                <li><a href="#"><i class="fas fa-plus"></i></a></li>
                                <li><a href="#"><i class="fas fa-expand"></i></a></li>
                        </ul>
                </div>
                <div class="part-2">
                        <h3 class="product-title">Here Product Title</h3>
                        <h4 class="product-old-price">$79.99</h4>
                        <h4 class="product-price">$49.99</h4>
                </div>
        </div>
</div> -->



{% endblock body %}
 {% block footer %}{% endblock footer %}	